$browser-context: 16;

@function em($pixels, $context: $browser-context){
  @return #{$pixels/$context}em;
}
.card-img-top{
  width: 100%;
  height: em(250);
}
.card{
  width: em(360);
  margin: em(10);
}